/*
  BARLW.UK LANDING PAGE

  ID: style.css 27/10/2017 12:08:38 george@barlw.uk $

  This program is under the copyright of this author: you cannot redistribute
  it and/or modify it under the terms of the The Copyright, Designs and Patents Act 1988.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

  @package   barlw.uk
  @version   1.0.0
  @author    George Barlow
  @copyright Copyright (c) 2017 by George Barlow. All rights reserved.
 */

 /* ===================================================================
  *  01. webfonts and iconfonts - (_document-setup)
  *
  * ------------------------------------------------------------------- */
 @import url("font-awesome/css/font-awesome.min.css");
 @import url("fonts.css");

 /* ===================================================================
  *  02. base style overrides - (_document-setup)
  *
  * ------------------------------------------------------------------- */
 html {
   font-size: 10px;
 }
 @media only screen and (max-width: 1024px) {
   html {
     font-size: 9.375px;
   }
 }
 @media only screen and (max-width: 768px) {
   html {
     font-size: 10px;
   }
 }
 @media only screen and (max-width: 400px) {
   html {
     font-size: 9.375px;
   }
 }

 /* ===================================================================
  *  03. core styling
  *
  * ------------------------------------------------------------------- */

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

body {
  background: none;
  color: #FFF;
}

object {
  margin-bottom: 2%;
}

.container {
  position: relative;
  height: 100%;
}

.jumbotron {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 2.0rem;
}

/* ===================================================================
 *  04. social media icon set styling
 *
 * ------------------------------------------------------------------- */

.social-list {
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
}

.social-list.horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list.horizontal li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.social-list.vertical {
  position: fixed;
  left: 50px;
  bottom: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list.vertical::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.social-list li {
  padding-left: 0;
}
.social-list li a, .social-list li a:visited {
  color: #FFFFFF;
}
.social-list li a:hover,
.social-list li a:focus,
.social-list li a:active {
  opacity: 0.5;
}

/* ===================================================================
 *  04. footer styling
 *
 * ------------------------------------------------------------------- */

.footer {
  width: 100%;
  display: block;
  position: fixed;
  z-index: -1000;
  bottom: 50px;
  padding-right: 50px;
  text-align: right;
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 1rem;
  color: white;
}

.footer.xs {
  bottom: 20px;
  padding-right: 0;
  text-align: center;
}
